@* @using ClubManagement.Domain.Entities
@model List<Referred> *@


<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">برنامه اصلاحی مشتری</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">داشبورد</a></li>
                    <li class="breadcrumb-item active">لیست جلسات </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="datatable table table-hover table-center mb-0 text-center">
                            <thead>

                                <tr>
                                    <th scope="col">جلسه یک</th>
                                </tr>

                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"> ناهنجاری</th>
                                    <th scope="col"> حرکت اصلاحی</th>
                                    <th scope="col"> ست</th>
                                    <th scope="col"> مقدار</th>
                                    <th scope="col"> واحد  </th>
                                    <th scope="col"> توضیح  </th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col">جلسه یک</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td> گردن به جلو </td>
                                    <td> پرس سینه</td>
                                    <td>5 </td>
                                    <td>10 </td>
                                    <td>دقیقه </td>
                                    <td>با وزنه کم انجام شود </td>
                  

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- /Page Wrapper -->
