@* @using ClubManagement.Domain.Entities
@model List<Referred> *@


<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">لیست برنامه های اصلاحی</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">داشبورد</a></li>
                    <li class="breadcrumb-item active">برنامه ها </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="datatable table table-hover table-center mb-0 text-center">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"> مشتری</th>
                                    <th scope="col"> تاریخ ثبت  </th>
                                    <th scope="col"> پزشک</th>
                                    <th scope="col"> پکیج دریافتی</th>
                                    <th scope="col"> معاینه </th>
                                    <th scope="col">  عملیات </th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>1</td>
                                    <td>علس کریمی </td>
                                    <td>10/10/2020  </td>
                                    <td>دکتر  مینا احمدی  </td>
                                    <td>نقره ای  </td>
                                    <td>
                                        <a @* asp-controller="Referred" asp-action="Update" asp-route-referredid="@Model[i].Id" *@ class="btn btn-primary mx-2">نمایش معاینه</a>
                                    </td>
                                    <td>
                                        <a @* asp-controller="Referred" asp-action="Update" asp-route-referredid="@Model[i].Id" *@ class="btn btn-info mx-2">نمایش برنامه</a>

                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- /Page Wrapper -->
