<!-- Main Wrapper -->
<div class="main-wrapper login-body">
	<div class="login-wrapper">
		<div class="container">
			<div class="loginbox">
				<div class="login-left">
					<img class="img-fluid" src="assets/img/logo-white.png" alt="Logo">
				</div>
				<div class="login-right">
					<div class="login-right-wrap">
						<h1>ورود</h1>
						<p class="account-subtitle">ورود به سیستم</p>

						<!-- Form -->
						<form action="index.html">
							<div class="form-group">
								<input class="form-control" type="text" placeholder="نام کاریری">
							</div>
							<div class="form-group">
								<input class="form-control" type="password" placeholder="رمز عبور">
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block w-100" type="submit">ورود</button>
							</div>
						</form>
						<!-- /Form -->

						<div class="text-center forgotpass"><a href="#">رمز عبور خود را فراموش کرده اید؟</a></div>
						<div class="login-or">
							<span class="or-line"></span>
							@* 	<span class="span-or">یا</span> *@
						</div>

						<!-- Social Login -->
						@* 			<div class="social-login">
						<span>ورود با</span>
						<a href="#" class="facebook"><i class="fa fa-facebook"></i></a><a href="#" class="google"><i class="fa fa-google"></i></a>
						</div> *@
						<!-- /Social Login -->

						<div class="text-center dont-have">حساب کاربری ندارید؟ <a href="#">ثبت نام کنید</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->